h1 {
  color: salmon;
}
.photos{
  display:flex;
  justify-content: center;
  
  text-align: center;

}

.upperText{
  text-align: center;
  
}

.centerText {

  text-align: center;
}

.button {

  text-align: center;


 



}
button {
height: 25px;
width: 300px;
text-align: center;
margin: 50px;
background-color: white;

}

img {
  height: 300px;
  width: 300px;
}
